@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(video/thumbnail.png) no-repeat;
background-size: cover;
}

.social-header {
    position: absolute;
    bottom: 20px;
    right: 35px;
    z-index: 999;
}

.fa.fa-github {
    font-size: 2.3em;
    color: #888;
    margin-top: -0.04em;
}

.fa.fa-github:hover {
    color: #AAA;
}

.icon.icon-gh {
    background-color: inherit;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: #888;
    border-radius: 5px;
    overflow: hidden;
}
