html{
	margin:0px;
	width:100%;
	overflow:auto;
}

body{
	margin:0px;
	padding-top:0px;
	width:100%;
	min-height:100%;
	overflow:auto;
    -moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
    -o-user-select: none; 
	cursor:default;
	background-color:#33AD5C;
}

#header{
	width:100%;
	height:80px;
	text-align:center;
}

#Frame{
	height:506px;
	width:95.5%;
	margin-left:2.25%;
	margin-right:2.25%;
}

.Row{
	width:31%;
	min-height:500px;
	border-style: solid;
    border-color: #5CADFF;
	margin:0px;
	margin-right:0px;
	position:absolute;
}

#secRow{
	left:34%;
}
	
#trdRow{
	left:66%;
}

#mainClick{
	margin-top:25%;
	margin-left:15%;
	width:150px;
	height:150px;
	cursor:pointer;
	position:absolute
}

#mainButton{
	width:150px;
	height:150px;
}

#title{
	text-align:center;
}

.Upgrade{
	height:90px;
	width:90%;
	border:groove;
	border-width:3px;
	border-color:#CFCF00;
	margin-left:10px;
	margin-right:10px;
	overflow:hidden;
	margin-bottom: 3px;
}

#UpgradeOverlay{
	min-height:90px;
}
	

#UpgradeImg{
	width:90px;
    height:100%;
	margin-right:5px;
	float:left;
}

#UpgradeTitle{
	text-align:center;
	margin-top:3px;
	margin-bottom:0px;
	width:150px;
	margin-left:80px;
	font-size:18px;
}

#UpgradeDescription{
	font-size:14px;
	width:150px;
	float:right;
}

.Structure{
	height:90px;
	width:90%;
	border:groove;
	border-width:3px;
	border-color:#CFCF00;
	margin-left:10px;
	margin-right:10px;
	overflow:hidden;
	margin-bottom: 3px;
}

#StructureOverlay{
	min-height:90px;
}
	

#StructureImg{
	width:90px;
    height:100%;
	margin-right:5px;
	float:left;
}

#StructureTitle{
	text-align:center;
	margin-top:3px;
	margin-bottom:0px;
	width:150px;
	margin-left:80px;
	font-size:18px;
}

#StructureDescription{
	font-size:14px;
	width:150px;
	float:right;
}

#ProClickers{
	min-width:100%;
	min-height:100%;
	text-align:center;
	display:none;
	background-color:white;
	z-index:100;
	position:absolute;
	top:0px;
	
}

#Loading{
	min-height:100%;
    min-width:100%;
    z-index:1000;
	background-color:#33AD5C;
	position:absolute;
	text-align:center;
}

#loadText{
	font-size:100px;
}