html{
	min-width:100%;
	min-height:100%;
	margin:0px;
}

body{
	background-color:#ffea7d;
}

#page{
	width: 100vw; 
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
    margin: auto;
    position: fixed;
    top:0;bottom:0;
    left:0;right:0; 
	background-image:url('images/fennekin.jpg');
	background-size: contain;
}