html{
	min-width:100%;
	min-height:100%;
	margin:0px;
}

body{
	background-color:#ffea7d;
	margin:0px;
}

h1{
	font-family: 'Press Start 2P', cursive;
}

p{
	font-family: 'Press Start 2P', cursive;
}

#page{
	width: 100vw; 
    height: 135vw;
    max-height: 100vh;
    max-width: 74.07vh;
    margin: auto;
    position: fixed; 
	background-image:url('images/fennekin.png');
	background-size: contain;
	z-index:-1;
	float:right;
	margin-left: 57vw;
}

#content{
	width:57vw;
	height:auto;
	min-height:100%;
	left:25px;
	position:absolute;
	background-color:white;
}

#title{
	text-align:center;
	width:100%;
	height:50px;
}