#kappo {
            position: relative;
            z-index: 200;
            left: -1000px;
            height: 800px;
        }
        
        #tehurn {
            position: absolute;
            font-family: sans-serif;
            font-size: 65px;
            font-weight: 900;
            z-index: 10;
            padding: 0;
            margin: 0;
            top: 300px;
            width: 900px;
            height: 80px;
            margin: 0 auto;
            overflow: hidden;
            background: #0f0;
            text-align: center;
            border-radius: 20px;
        }
		
		#linkText{
			z-index:105;
		}
        
        #tehurn a {
            color: #000;
            text-decoration: none;
        }
        
        #tehurn a:hover {
            text-decoration: underline;
        }
        
        #tehurnbox {
            padding: 0;
            margin: 0;
            position: absolute;
            top: 290px;
            z-index: 100;
            width: 920px;
            height: 120px;
            display: none;
        }
		
		#toShow {
			display:block;
			z-index:150;
			min-height:100%;
			min-width:100%;
			background-color:white;
			position:fixed;
			top:0px;
			left:0px;
		}
        
        html {
            height: 100%;
        }
        
        body {
            overflow: hidden;
            height: 100%;
            background-position: center center;
            background-size: 100% 100%;
			background-image:url("http://imgur.com/gjhBsKq.jpg")
        }
        