html{
	margin:0px;
	min-width:100%;
	min-height:100%;
}

body {
	margin:0 auto;
	max-height:100px;
	max-width:100px;
	display:block;
	background-size:25%;
	background-image:url("../images/KT.jpg");
	position: relative;
	top: 25%;
	transform: translateY(20%);
	background-repeat:no-repeat;
    background-position: 50% 50%;
    transition: background-size 150s;
}
.trans {
    background-size: 100%;
}
