@charset "UTF-8";
/* CSS Document */

@import url("reset.css");
@import url("screen.css");
body {
    background-image: none;
    font-size: 12px;
}
#content-main {
    margin-left: 0;
}

#branding-powerschool {
	background-image: url("../img/powerschool.svg");
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: auto 30px;
	height: 30px;
	line-height: 40px;
	margin: 20px
}

ul.text, .psHelp ul, .psHelp ol {
    padding:0 0 0 30px;
    page-break-after: auto;
}

#nav-main,
#nav-main-phone,
#tools,
#userName,
#nav-secondary,
#usercontext-bar,

a.button,
button,
.button,
#breadcrumbs,
#feedbackHover,
#feedbackSend,
#btnContMax,
#btnNoNav,
.screenonly,
#pluginLinkDrawerPanel {
	display:none;
}

input {
	border:none;
}
img {
	border:none;
}
#students-list {
	width:100%;
	border-bottom: 1px solid #000;
}
#students-list li {
	display:none;
}
#students-list li.selected {
display:inline;
font-weight:bold;
font-size:150%;
}

#print-disclaimer {
	margin:20px 0;
}
#print-school {
    text-align:right;
	float:right;
	font-size:120%;
	font-weight:bold;
}
#print-school span {
	font-size:100%;
}
.noprint {
	display:none;
}
.noprint.box-round{
	display:none;
}
.pagebefore	{ page-break-before: always; }
.pageafter 	{ page-break-after: always; }
.avoid-page		{ page-break-inside: avoid; }
.box-round .bulletin h2,.box-round .bulletin h3,td h2,td h3 {
	background: none;
}
.alt, .oddRow, .oddrow {
	background: #EDF3FE;
}
.unhide-for-print .hide {
	display: block;
}

#pluginLinkDrawerPanel.collapsed {
	display: none;
}
td p.verify {
    margin: 10px 0 0;
}
td p.verify span {
    display: inline-block;
    width: 32%;
    margin-right: 1%;
    overflow: hidden;
    white-space: nowrap;
}
td p.verify span em:after {
    content: " ___________________________________________________________________________________________";

}